# Ignore Visual Studio Code settings folder
.vscode

# Ignore Python bytecode cache files
__pycache__

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore all Jupyter notebooks
*.ipynb

# Except for the Jupyter notebooks specified below
!benchmarks/*.ipynb

# Ignore all Mojo packages
*.mojopkg